/*Base*/
:root{
  --color: rgb(164, 69, 237);
  --light: #fff;
  --gray: rgb(239, 239, 239);
  --borderRadius: 6px;
  --bold: 800;
}
.App {
  text-align: left;
  min-height: 100vh;
  position: relative;
  font-size: 18px;
  margin: 5vh 0;
  box-sizing: border-box;
}

.sectionSize {
  margin: 0 auto;
  width: 90vw;
  max-width: 1200px;
}

@media (min-width: 600px) {
  .sectionSize {
    width: 80vw;
  }
}

@media (min-width: 900px) {
  .sectionSize {
    width: 70vw;
  }
}

.uiSection{
  margin: 5vh 0;
}
.searchBar{
  display: flex;
}
.searchBar button{
  border: none;
  background-color: var(--color);
  font-weight: var(--bold);
  flex: 0.15;
  color: var(--light);
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.searchBar button:hover {
  background-color: var(--gray);
  color: var(--color);
}

.searchBar input {
  flex: 1;
  padding: 15px;
  border-radius: var(--borderRadius);
  background-color: var(--gray);
  border: none;
  width: calc(100% - 36px);
}
/*Navigation*/
.nav{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/*Icons*/
.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.icon{
  cursor: pointer;
}
.icon-xs{
  height: 4vmin;
}

/*Links*/
.App-link {
  color: rgb(164, 69, 237);
}

